h1 {
	text-align: center;
}

#remainingMatches {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(187, 187, 204, 0.8);
}
#remainingMatches li {
	display: inline-block;
	width: 16px;
	background-image: url("../Img/Matches_game/support.jpg");
}

.row {
	margin-left: 0;
	margin-right: 0;
}